.menuBack{
    background-color: #321653;
    padding: 10px;
}
.ui.menu .item{
    color: #ffffff;
    /* font-size: 16px; */
}
.ui.secondary.menu .active.item{
    color: darkgoldenrod;
}
.bannerParentClass{
    position: relative;
}
.bannerBackground{
    background-image: url("/img/background.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.engineerClass {
    position: absolute;
    right: -80px;
    top: 28%;
    animation: engineerImg 4s alternate infinite;
    /* max-width: 80%; */
}
.engineerClass img{
    width: 85%;
}

.engineerClass1 {
    position: absolute;
    left: -80px;
    top: 28%;
    animation: engineer 6s alternate infinite;
    /* max-width: 80%; */
}
.engineerClass1 img{
    width: 50%;
    transform: rotateY(180deg);
    margin-left: 75px;
}
@keyframes engineerImg{
    0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-50px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
@keyframes engineer{
    0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-70px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

.bannerTitle{
    color: #ffffff;
    text-transform: inherit;
    font-size: 60px;
    padding-top: 10% !important;
}
.bannerDescription{
    color: #ffffff;
    font-size: 26px;
    margin: 30px 0px;
}
.bannerContainer{
    padding-right: 15%;
    
}
.logo{
    position: relative;
    top: 10px;
}
.section1Title{
    font-size: 32px;
    padding: 60px 0px 30px 0px;
    text-align: center;
}
.section1Desc{
    font-size: 18px;
    padding-bottom: 50px;
    text-align: center;
}
.blur h4{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.blur p {
    font-size: 16px;
    text-align: center;
}

.section2Banner{
    background-image: url("/img/koompi-banner-1.png");
    height: 700px;
    background-position: bottom;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin: 70px 0px;
}
.section2Title{
    padding-top: 80px;
    font-size: 40px;
}
.section2Banner p{
    font-size: 16px;
}
.iconSection2{
    position: relative;
    top: 2px;
}
.section2Banner a{
    color: #ffffff;
}
.bySomeOne{
    text-align: right !important;
    font-size: 13px !important;
}
.footerImage{
    margin: 15px 0px;
}
.footer{
    margin-top: 50px !important;
}
.ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover{
    background: rgba(0,0,0,.05);
    color: rgb(172, 134, 252) !important;
}
.ui.secondary.menu .active.item {
    color: #ac86fc;
}
.ui.secondary.menu a.item:hover {
    background: rgba(0,0,0,.05);
    color: rgb(172, 134, 252) !important;
}
.ui.menu .ui.dropdown .menu>.item{
    transition: 0.2s !important;
}
.ui.menu .ui.dropdown .menu>.item:hover{
    transform: scale(1.1) !important;
    background-color: #ffffff !important;
    border-color: rgba(3,27,78,.1);
    box-shadow: 0 2px 4px rgba(3,27,78,.06);
}
.navbar-Koompi img{
    width: 2.5em !important;
    max-height: 2.5em !important;
}
.productsDropdown{
    margin-left: -22px !important;
}
.navbar-Koompi span{
    font-size: 16px;
    position: relative;
    top: 10px;
    left: 0px;
    /* font-weight: bold; */
}